/* General styling */
.homeH1 {
    @include basicFont(138px);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
    z-index: 5;
}
h2 {
    @include basicFont(42px, 1px);
}
h3 {
    @include basicFont(32px, 1px);
    margin: 0;
}
p,
li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 32px;
}

button {
    @include basicFont(20px, 1px, 32px);
    text-align: center;
    padding: 0 10px;
    background-color: #4ceea7;
    border: none;
}

a {
    @include basicFont (20px, 1px , 29px );
    color: black;
}
img {
    width: 100%;
    max-width: 100%;
}
// Background Colors
.capturedSection, 
.iconSection, 
.profileSection {
    background-color: #EFFDF3;   
}

.gallerySection,
.skillSection,
.gearSection {
    background-color: #FAFAFA;
}

// Header Section

.homeHeader {
    @include headerImage(url('../assets/header-image.jpg'));       
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navContainer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content : flex-end;
    flex-wrap : wrap;
    
}

ul {
    list-style: none;
    li {
        padding: 15px;
    
        a {
            text-decoration: none;
            position: relative;
        }
        .underline::before {
            content: '';
            width: 105%;
            height: 2px;
            background-color:#4ceea7;
            z-index: 55;
            position:absolute;
            bottom: -5px;
            left: -4px;
        }
    }

    li:last-child{
        padding-right: 100px;
    }  

}

.imgContainerabs {
    position: absolute;
    bottom: -40%;
    right: 0;
    width: calc(50% - 80px);
    border: 50px solid #FDFA69;
    border-right: 0;
    z-index: 4;
}
// Drop-down menu
.dropDownMenu {
    display:none;
    position:absolute;
    top: 1%;
    left: 1%;
}
input[type=checkbox] {
    display:none
}
label {
    font-size: 30px;
}

.menuContent {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    width: 80%;
    background-color: #EFFDF3;


}

input:checked ~ .menuContent {
    max-height: 100%;
}

// Capture Section


.textContainer {
    margin: 0 auto;
    width:60%;
    height: 100%;
    padding-bottom : 200px;
    padding-top: 280px;
}

.container2 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


// 3rd and 4th section
.container3 {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content : space-between;
    flex-wrap : wrap;
    >* {
        width: 42%;  
        margin: 0;
    }
    // inside the imgContainer
    img {
        width: 100%;
        
    }
    .imgLeft {
        box-shadow: 30px 25px #FDFA69;
        transform: translateY(-25px);
    }
    .imgRight {
        box-shadow: -30px 25px #FDFA69;
        transform: translateY(25px);
    }
    
    .textContainer2, 
    .textContainer3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        p {
            width: 76.2%;
        }

        
    }
    .textContainer2{
        align-items: flex-end;
    }
    .textContainer3 {
        align-items: flex-start;
    }
}

.reverse {
    flex-direction: row-reverse;
    
}


//Icon section

.container4 {
    height:100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 75px 0;

    >*{
        flex: 50%;
    }
}

.containerFlexIcon {
    display: flex;
    i {
        font-size: 30px;
        padding-top : 6px;
        padding-left: 11px;
        border: 1px solid #4ceea7;
        background-color: #4ceea7;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    
    .icon1 {
       padding-top:7px;
       padding-left: 9px; 
    }

    .icon2 {
        padding-top: 7px;
        padding-left: 6px;

    }

    .icon3 {
        padding-top: 7px;
        padding-left: 14px;
    }
    .icon4 {
        padding-top: 9px;
        padding-left: 9px;
    }

    .iconContainer {
        margin-right: 20px;
    }
}

//profile section

.container5{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    .imgContainer {
        width:25%;

        img {
            box-shadow: 15px 15px #FDFA69;
            
        }
    }
    >* {
        padding: 30px 0;
        h2 {
        margin: 0;
            
        }
    }

    .textContainer {
        padding-left: 80px;
        width: 75%;
    }
}
// Gallery Section

.grid {
    width:80%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px 0;
}


footer {
    background-color: #2c2c2c;
    text-align: center;
    p {
        margin: 0;
        padding: 5px 0;
        color: white;
    }
}

// media queries

@media (max-width: 850px) {
    .container3 {
        .textContainer3, 
        .textContainer2{
            justify-content: center;
            align-items: center;
        }
        
        >* {
            flex: 100%;
            
        }

        .textContainer2>h3 {
            padding-top: 50px;
        }

        button {
            margin-bottom: 10px;
        }
    }

}



@media (max-width: 730px) {
    .container4>* {
        flex: 100%;
    }

    .capturedSection > .textContainer {
        width: 80%;
    }
    .container5 {
        justify-content: center;
        >*{
            flex: 100%;
        }

        .textContainer {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 0;
        }

        .imgContainer{
            max-width: 60%;
        }
        
    }
    .image3{
        display: none;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .homeH1 {
        font-size: 100px;
    }
}



@media (max-width: 570px) {
    .homeH1 {
        font-size: 80px;
    }
    .imgContainerabs {
        display: none;
    }

    h2 {
        font-size: 30px;
    }
    .container2 {
        padding-top: 20px;
    }

    p, 
    button {
        font-size: 16px;
    }

    nav {
        display:none; // is this still seen by screen reader????
    }
    .dropDownMenu {
        display: block;
    }

    .homeHeader.container {
        background-position-x : 0px;
        justify-content: flex-end;
    }
}

@media (max-width : 440px) {
    .homeH1 {
        font-size: 60px;
    }


    h3 {
        font-size: 25px;
    }

    p, 
    button {
        font-size: 12px;
    }
}


@media (max-width: 396px) {

    h2 {
            font-size: 25px;
    }
    
}