@mixin basicFont($fontSize, $letterSpacing:normal, $lineHeight:normal) {
    font-size: $fontSize;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight ;
}


@mixin headerImage ($backgroundUrl) {
    background-image: $backgroundUrl;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: relative
}



