@mixin basicFont($fontSize, $letterSpacing:normal, $lineHeight:normal) {
    font-size: $fontSize;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight ;
}



